<header>
  <h1>Zi Mu</h1>
  <h2>Graphic Design Portfolio</h2>
  <a href="mailto:muzi1020@gmail.com">muzi1020@gmail.com</a>
</header>

<%= partial "projects/_chinas-next-top-model.html" %>
<%= partial "projects/_i-am.html" %>
<%= partial "projects/_hi-life.html" %>
<%= partial "projects/_arita.html" %>
<%= partial "projects/_beast.html" %>
<%= partial "projects/_haptic-memory.html" %>
<%= partial "projects/_receipts.html" %>

<footer>
  Thank you.
</footer>
